/* SOCIAL ICONS SECTION */

.socials {
    position: fixed;
    bottom: 0;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials svg, .socials-contact svg {
    height: 30px;
    margin-bottom: 10px;
    fill: #7c7c7c;
    transition: 0.5s;
}

.socials, .socials-contact svg:hover {
    transform: translateY(-10px);
    fill: var(--accent-color-1);
}

.socials .line {
    height: 150px;
    width: 1px;
    background-color: #7c7c7c;
}

footer .socials-contact {
    display: none;
}

@media (max-width: 768px) {
    .socials {
        display: none;
    }
}

/* MOBILE SOCIALS */
.socials-contact {
    display: flex;
    justify-content: center;
}

.socials-contact svg {
    margin: 20px 15px;
}



/* WELCOME SECTION */

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left-section {
    width: 50%;
}

.right-section {
    width: 50%;
    display: flex;
    justify-content: center;
}

.welcome .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome h1 {
    padding-bottom: var(--spacing-medium);
    padding-top: var(--spacing-small);
}

.welcome .frame {
    width: 400px;
    height: 500px;
    border: 4px solid var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .inner-frame {
    width: 90%;
    height: 92%;
    border: 4px solid var(--light-green);
}

@media (max-width: 768px) {
    .welcome .container {
        flex-direction: column;
    }
    .left-section, .right-section {
        width: 100%;
    }

    .left-section {
        margin-top: 120px;
        margin-bottom: 50px;
        padding: 0 20px;
    }

    .right-section {
        padding: 0 30px;
    }

    .welcome .frame {
        height: 400px;
    }

    .welcome .inner-frame {
        width: 92%;
        height: 96%;
    }
}


/* ABOUT ME SECTION */

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me .left-section h2::before{
    content: '01.';
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    font-family: Source code Pro, sans-serif;
    color: var(--accent-color-2);
}

.about-me .skill-globe {
    width: 40%;
}

.about-elements {
    background-color: var(--light-green);
    height: 500px;
    width: 600px;
    margin-top: 100px;
}

.tagcloud {
    display: inline-block;
    font-size: 1.3rem;
    font-family: Source code Pro, sans-serif;
}

.tagcloud--item:hover {
    color: var(--accent-color-1);
    cursor: pointer;
}

@media (max-width: 768px) {
    .about-me .container {
        flex-direction: column;
        margin-top: 80px;
    }

    .left-section {
        width: 100%;
    }

    .tagcloud {
        margin-left: -150px;
    }

}


/* PROJECTS SECTION */

.projects {
    background-color: var(--dark-green);
    padding-top: 300px;
    margin-top: -150px;
    height: 1200px;
}

.projects .container h2::before{
    content: '02.';
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    font-family: Source code Pro, sans-serif;
    color: var(--accent-color-2);
}

.projects .projects-container {
    text-align: right;
    padding-right: 100px;
    padding-top: 50px;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.projects .projects-list {
    transform-style: preserve-3d;
}

.projects .project-container {
    transform: rotateY(-45deg) translateZ(0) scale(1);
    transform-origin: right center;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.project-container span {
    font-size: clamp(0.8rem, 4vw, 2.5rem);
    line-height: clamp(0.8rem, 4vw, 3rem);
    font-family: Source code Pro, sans-serif;
    color: var(--accent-color-2);
}

.projects .project-container:hover {
    transform: rotateY(-30deg) translateZ(0) scale(1);
    transform-origin: right center;
    transform-style: preserve-3d;
}

.projects .project-container:active {
    transform: rotateY(0) translateZ(0) scale(1);
    transform-origin: right center;
    transform-style: preserve-3d;
}


.projects .projects-container a {
    font-size: clamp(5rem, 11vw, 10rem);
    line-height: clamp(4rem, 15vw, 10rem);
    font-weight: 800;
    color: var(--accent-color-1);
    text-transform: uppercase;
}

.projects .projects-container a:hover {
    -webkit-text-stroke: 2px var(--accent-color-1);
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .projects .projects-container {
        padding-right: 30px;
    }

    .projects {
        height: 900px;
        padding-top: 200px;
    }

    .projects .projects-container a:hover {
        -webkit-text-stroke: 1px var(--accent-color-1);
    }
}


/* CONTACT SECTION */

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.contact .container {
    text-align: center;
}

.contact .container p {
    max-width: 600px;
    margin: var(--spacing-xl) 0;
}

.contact .container button {
    background: linear-gradient(90deg, rgba(45,216,129,1) 0%, rgba(1,167,194,1) 100%);
    border: none;
    padding: 15px 40px;
    font-family: Source code Pro, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.contact .container button:hover {
    transform: scale(1.1);
}